body {
    background-color: navy;
    color: gold;
}

.jumbotron {
    background-color: navy;
}

#title {
    text-align: center;
    color: orangered;

}

.container {
    padding: 40px 60px 5px 60px;
}

.premis {
    font-style: italic;
}

.questions {
    padding-left: 60px;
    padding-right: 60px;
}

.dayCount {
    text-align: center;
}

#dayCount {
    color: orangered;
}

.brothers {
    display: flex;
    padding-left: 80px;
    width: 500px;
}

#youngerBrotherPercent, #olderBrotherPercent {
    color: orangered;
    padding-left: 10px;
}

#nextDayButtonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    text-align: center;
    font-size: 16px;
    margin: 25px;
    color: silver;
}

a {
    color: green;
}

hr {
    border: .8px solid green;
}